<table class="table table-hover no-margins" ng-show="produtosDoEstudo.length">
    <thead>
    <tr>
        <th>Modelo</th>
        <th>User</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in produtosDoEstudo | orderBy: 'estudo_do_produto.resultados.lucro.unitario.brl'">
        <td>
            <small>{{item.modelo}}</small>
        </td>
        <td>{{item.estudo_do_produto.resultados.lucro.unitario.brl | currency: 'R$ '}}</td>
        <td class="text-navy"><i class="fa fa-level-up"></i> 24%</td>
    </tr>

    </tbody>
</table>