<div class="row">
    <div class="col-md-6">
        <h1 class="no-margins">{{ estudo.resultados.investimento.paypal.usd | currency }}</h1>
        <!--<div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>-->
        <div class="font-bold text-navy">IOF <small>{{ estudo.resultados.investimento.paypal.taxa_iof.brl | currency: 'R$ ' }}</small></div>
    </div>
    <div class="col-md-6">
        <h1 class="no-margins">206,12</h1>
        <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>
    </div>
</div>