<div class="row">
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputCotacaoDolar">Dólar: </label>
            <input type="text" class="form-control input-sm" id="inputCotacaoDolar" data-ng-model="config.cotacao_dolar" ng-change="iniImport()">
        </div> <!-- Dólar -->
    </div> <!-- Dólar -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputCotacaoDolarPaypal">Dólar Paypal</label>
            <input type="text" class="form-control input-sm" id="inputCotacaoDolarPaypal" data-ng-model="config.cotacao_dolar_paypal" ng-change="iniImport()">
        </div>
    </div> <!-- Dólar Paypal -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" class="" for="inputVolumeCntr20">CBM 20"</label>
            <input type="text" class="form-control input-sm" id="inputVolumeCntr20" data-ng-model="config.volume_cntr_20" ng-change="iniImport()">
        </div>
    </div> <!-- Volume Cntr 20" -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputIofCartao">IOF Cartão</label>
            <input type="text" class="form-control input-sm" id="inputIofCartao" data-ng-model="config.iof_cartao" ng-change="iniImport()">
        </div>
    </div> <!-- IOF Cartão -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputTaxaPaypal">Taxa Paypal</label>
            <input type="text" class="form-control input-sm" id="inputTaxaPaypal" data-ng-model="config.taxa_paypal" ng-change="iniImport()">
        </div>
    </div> <!-- Taxa Paypal -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputFreteMaritimoUsd">Frete Marítimo (usd)</label>
            <input type="text" class="form-control input-sm" id="inputFreteMaritimoUsd" data-ng-model="config.frete_maritimo_usd" ng-change="iniImport()">
        </div>
    </div> <!-- Frete Marítimo -->
</div> <!-- Config > Primeira Linha -->
<br>
<div class="row">
    <div class="col-xs-2">
        <div class="form-group form-group-sm">
            <label style="font-size: 0.85em" class="control-label" for="inputComissaoML">Comissão ML: </label>
            <input type="text" class="form-control input-sm" id="inputComissaoML" data-ng-model="config.comissao_ml" ng-change="iniImport()">
        </div>
    </div> <!-- Comissão ML -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputAliquotaSimples">Alíquota Simples: </label>
            <input type="text" class="form-control input-sm" id="inputAliquotaSimples" data-ng-model="config.aliquota_simples" ng-change="iniImport()">
        </div>
    </div> <!-- Alíquota Simples -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputSeguroFreteMaritimoUsd">Seg. Frete. Mar. USD:</label>
            <input type="text" class="form-control input-sm" id="inputSeguroFreteMaritimoUsd" data-ng-model="config.seguro_frete_maritimo_usd" ng-change="iniImport()">
        </div>
    </div> <!-- Seguro Frete Marítimo -->
    <div class="col-xs-2">
        <div class="form-group-sm">
            <label style="font-size: 0.85em" for="inputPercentualComissaoConny">% Comissão Conny:</label>
            <input type="text" class="form-control input-sm" id="inputPercentualComissaoConny" data-ng-model="config.percentual_comissao_conny" ng-change="iniImport()">
        </div>
    </div> <!-- Comissão Conny -->
</div> <!-- Config > Segunda Linha -->