<h2 style="display: inline-block;">Produtos do Estudo</h2>
<button class="btn_pos btn btn-sm btn-white handle handle-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
<button class="btn_pos btn btn-sm btn-info" ng-click="testeModal()"><i class="fa fa-floppy-o"></i></button>
<button class="btn_pos btn btn-sm btn-success"><i class="fa fa-tasks"></i></button>
<button class="btn_pos btn btn-sm btn-danger" ng-click="testeErros()"><i class="fa fa-tasks"></i></button>