<section data-ng-controller="DespesasController">
    <div class="container">
        <h2>Cadastro de Despesa</h2>
        <hr>
        <div class="col-xs-8">
            <form data-ng-submit="create()">
                <label for="inputNomeDespesa">Nome da Despesa:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputNomeDespesa" ng-model="nome">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label for="inputTipoDespesa">Tipo da Despesa:</label>
                        <div class="form-group">
                            <select class="form-control" name="inputTipoDespesa" id="inputTipoDespesa" ng-model="tipo">
                                <option class="form-control" ng-repeat="tipoDespesa in enumTiposDespesas" value="{{tipoDespesa}}">{{tipoDespesa}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="inputAtiva" class="checkbox  checkbox-inline">
                            <input type="checkbox" id="inputAtiva" class="checkbox" ng-model="ativa">Despesa Ativa?
                        </label>
                    </div>
                </div>
                <label for="inputTipoMoeda">Moeda: </label>
                <div class="form-group">
                    <select name="inputTipoMoeda" id="inputTipoMoeda" class="form-control" ng-model="moeda">
                        <option ng-repeat="tipoMoeda in enumTiposMoedas" value="{{tipoMoeda}}" class="form-control">{{tipoMoeda}}</option>
                    </select>
                </div>
                <label for="inputValorDespesa">Valor:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputValorDespesa" ng-model="valor">
                </div>
                <label for="inputAliquota">Alíquota:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputAliquota" ng-model="aliquota">
                </div>
                <input type="submit" class="btn btn-info" value="Cadastrar">
            </form>
        </div>
    </div>
</section>