<section data-ng-controller="EstudosController" data-ng-init="loadData()">
    <div class="row">
        <div class="col-xs-12">
            <!--<barra-btns></barra-btns>-->
        </div>
    </div> <!-- Botão Add Produto -->
    <div class="row">
        <div class="col-xs-9">
            <div class="ibox collapsed float-e-margins">
                <div class="ibox-title">
                    <h5>Configurações</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">

                </div>
            </div> <!-- Configurações -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tabela de Produtos <small class="text-danger"> {{ auxTestes }}</small></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="project-list">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th data-toggle="true">Produto</th>
                                <th style="text-align: center;">Custo</th>
                                <th style="text-align: center;">C.Paypal</th>
                                <th style="text-align: center;">C.Dentro</th>
                                <th style="text-align: center;">Qtd</th>
                                <th style="text-align: center;">C.Final</th>
                                <th style="text-align: center;">P.Venda</th>
                                <th style="text-align: center;">Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="itemEstudo in produtosDoEstudo">
                                <!--<td class="project-people pull-left">-->
                                    <!--<a href=""><img alt="image" class="img-circle" ng-src="{{ itemEstudo.img_url }}"></a>-->
                                <!--</td>-->
                                <td class="project-title">
                                    <i class="fa fa-plus" style="cursor: pointer; margin-right: 3px;" ng-click="addDespesaInternacionalDoProdutoModal(itemEstudo)"></i>
                                    <a href="#"><img style="width: 40px;" class="img-circle" ng-src="{{ itemEstudo.img_url }}" alt="Imagem {{ itemEstudo.nome }}"></a>
                                    <a ng-click="produtoViewModal(itemEstudo)">{{ itemEstudo.nome | limitTo: 20 }}</a>
                                    <br/>
                                    <div data-ng-repeat="desp in itemEstudo.estudo_do_produto.despesas.internacionais.individualizadas">
                                        <small style="display: block;">{{ desp.desc }}: {{ desp.usd | currency: 'usd ' }}</small>
                                    </div>
                                    <small>{{ itemEstudo.modelo }}</small><br>
                                    <!--<small>Cheio USD:{{ itemEstudo.estudo_do_produto.custo_unitario.cheio.usd }}</small><br/>-->
                                    <!--<small>Paypal USD: {{ itemEstudo.estudo_do_produto.custo_unitario.paypal.usd }}</small><br/>-->
                                    <!--<small>Declarado USD: {{ itemEstudo.estudo_do_produto.custo_unitario.declarado.usd }}</small><br/>-->
                                    <!--<small>Desp Int Tot: {{ itemEstudo.estudo_do_produto.despesas.internacionais.totais.usd }}</small>-->

                                </td>
                                <td class="project-title">
                                    <a>{{itemEstudo.estudo_do_produto.custo_unitario.cheio.usd | currency: 'U$ '}}</a>
                                    <br>
                                    <small>II:</small><small class="text-info"> {{ ncm.impostos.ii | percentage: 2}}</small>
                                    <small>IPI: {{ ncm.impostos.ipi | percentage: 2 }}</small>
                                    <small>Pis: {{ ncm.impostos.pis | percentage: 2 }}</small>
                                    <small>Cofins: {{ ncm.impostos.cofins | percentage: 2 }}</small>
                                </td>
                                <td class="project-title">
                                    <div>
                                        <input style="text-align: center; border-bottom: 1px solid dimgray;" type="number" class="form-control input-transparente text-center" placeholder="" name="custo_paypal" ng-model="itemEstudo.estudo_do_produto.custo_unitario.paypal.usd" ng-change="processaMudancas(itemEstudo, 'custo_paypal')">
                                        <small style="display: block; text-align: center;">paypal</small>
                                    </div>
                                </td>
                                <td class="project-title">
                                    <input type="text" class="form-control input-transparente text-center" placeholder="" name="custo_dentro" ng-model="itemEstudo.estudo_do_produto.custo_unitario.declarado.usd" ng-change="processaMudancas(itemEstudo, 'custo_dentro')">
                                </td>
                                <td class="project-title">
                                    <input style="text-align: center;" type="number" class="form-control input-transparente" placeholder="qtd" data-ng-model="itemEstudo.estudo_do_produto.qtd" ng-change="processaMudancas(itemEstudo, 'qtd')">
                                </td>
                                <td class="project-title">
                                    <span data-ng-bind="itemEstudo.estudo_do_produto.resultados.precos.custo.final.brl | currency: 'R$ '"></span>
                                </td>
                                <td class="project-title">
                                    <input style="text-align: center;" type="text" class="form-control input-transparente" placeholder="P.Venda (R$)" data-ng-model="itemEstudo.estudo_do_produto.resultados.precos.venda.brl" ng-change="iniImport()">
                                </td>
                                <td class="project-title">
                                    <i data-toggle="tooltip" data-placement="right" title="Remover produto"  ng-click="removeProdutoEstudo(itemEstudo)" class="fa fa-times clickable"></i>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div> <!-- Tabela de Produtos do Estudo -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">BRL</span>
                            <h5>Lucro</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{estudo.resultados.lucro.final.brl | currency: 'R$ '}}</h1>
                            <div class="stat-percent font-bold text-success">{{(estudo.resultados.lucro.final.brl/estudo.resultados.investimento.final.brl) * 100 | percent: 2}} <i class="fa fa-bolt"></i></div>
                            <small>Investimento: {{estudo.resultados.investimento.final.brl | currency: 'R$ '}}</small>
                        </div>
                    </div>
                </div> <!-- Lucro -->
                <div class="col-lg-3">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Contêiner</h5>
                            <h2>{{estudo.medidas.volume.ocupado_percentual | percent: 2}}</h2>
                            <div class="progress progress-mini">
                                <uib-progressbar class="progress-striped" value="estudo.medidas.volume.ocupado_percentual" type="warning">{{estudo.medidas.volume.ocupado_percentual}}</uib-progressbar>
                            </div>
                            <div class="m-t-sm small">Contêiner de 20"</div>
                        </div>
                    </div>
                </div> <!-- Contêiner -->
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">paypal x oficial</span>
                            <h5>Comparação</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="no-margins">{{ estudo.resultados.investimento.paypal.usd | currency }}</h1>
                                    <!--<div class="font-bold text-navy">44% <i class="fa fa-level-up"></i> <small>Rapid pace</small></div>-->
                                    <div class="font-bold text-navy">IOF <small>{{ estudo.resultados.investimento.paypal.taxa_iof.brl | currency: 'R$ ' }}</small></div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="no-margins">206,12</h1>
                                    <div class="font-bold text-navy">22% <i class="fa fa-level-up"></i> <small>Slow pace</small></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- Visitas -->
            </div> <!-- Widgets do Estudo -->
        </div> <!-- Tabela com Produtos do Estudo -->
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resultados</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins" ng-show="produtosDoEstudo.length">
                        <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>User</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in produtosDoEstudo | orderBy: 'estudo_do_produto.resultados.lucro.unitario.brl'">
                            <td>
                                <small>{{item.modelo}}</small>
                            </td>
                            <td>{{item.estudo_do_produto.resultados.lucro.unitario.brl | currency: 'R$ '}}</td>
                            <td class="text-navy"><i class="fa fa-level-up"></i> 24%</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!--<span class="label label-warning pull-right">Internacionais</span>-->
                        <h5>Despesas Compartilhadas <i ng-click="addDespesaInternacionalCompartilhadaModal()" style="margin-left: 100px; cursor: pointer; font-size: .9em;" class="fa fa-plus"></i></h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins" ng-show="produtosDoEstudo.length">
                            <thead>
                            <tr>
                                <th>Descrição</th>
                                <th style="text-align: center;">Valor U$</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in estudo.despesas.internacionais.compartilhadas">
                                <td>
                                    <small>{{ item.desc }}</small>
                                </td>
                                <td style="text-align: center;">{{ item.usd | currency: 'U$ ' }}</td>
                                <td style="text-align: center;"><i class="fa fa-times"></i></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- User Activity -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados do Estudo</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped small m-t-sm" data-show-toggle="false" id="tblDadosEstudo">
                    <!--<table class="table table-striped">-->
                        <thead>
                        <tr>
                            <th>Principal</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Lucro Operação</td>
                            <td data-ng-bind="estudo.resultados.lucro.final.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Investimento</td>
                            <td data-ng-bind="estudo.resultados.investimento.final.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Invest. Integral</td>
                            <td data-ng-bind="estudo.resultados.investimento.cheio.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Fob</td>
                            <td data-ng-bind="estudo.fob.declarado.usd | currency: 'U$ '"></td>
                        </tr>
                        <tr>
                            <td>CIF</td>
                            <td data-ng-bind="estudo.cif.declarado.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Peso Total:</td>
                            <td data-ng-bind="estudo.medidas.peso.ocupado"></td>
                        </tr>
                        <tr>
                            <td>AFRMM</td>
                            <td data-ng-bind="estudo.despesas.afrmm.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Despesas</td>
                            <td data-ng-bind="estudo.despesas.total.brl | currency: 'R$ '"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped small m-t-sm">
                        <thead>
                        <tr>
                            <th>Impostos</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>II</td>
                            <td data-ng-bind="estudo.tributos.declarado.ii.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>IPI</td>
                            <td data-ng-bind="estudo.tributos.declarado.ipi.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>PIS</td>
                            <td data-ng-bind="estudo.tributos.declarado.pis.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Cofins</td>
                            <td data-ng-bind="estudo.tributos.declarado.cofins.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>ICMS</td>
                            <td data-ng-bind="estudo.tributos.declarado.icms.brl | currency: 'R$ '"></td>
                        </tr>
                        <tr>
                            <td>Total Imp.</td>
                            <td data-ng-bind="estudo.tributos.declarado.total.brl | currency: 'R$ '"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- Dados do Estudo -->
        <div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Produtos</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control search-result" placeholder="Busca" data-ng-model="query">
                            </div>
                            <div class="produto-modal-list">
                                <!--<table id="modal-example-1" class="table" data-paging="true" data-filtering="true" data-sorting="true">-->
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-click="adicionaProdutoEstudo(item)" data-ng-repeat="item in produtos | filter: query">
                                        <td class="produto-modal-people">
                                            <a href="#"><img class="img-circle" ng-src="{{ item.img_url }}" alt="Imagem {{ item.nome }}"></a>
                                        </td>
                                        <td class="produto-modal-title" data-ng-model="item.nome" data-filter-value="query">
                                            {{item.nome}}<br/>
                                            <small>{{ item.modelo }}</small> - <small>{{ item.fornecedor.nome_fornecedor }}</small>
                                            - <small>{{ item.fornecedor.cidade_fornecedor }}</small>
                                        </td>
                                        <td data-ng-bind="item.custo_usd | currency: 'U$ '"></td>
                                        <td>
                                            <a ng-click="adicionaProdutoEstudo(item)"><i class="fa fa-plus clickable" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Modal -->
        </div>
    </div>
    <div ng-include="'app/estudos/views/partials/right-sidebar-estudos.partial.view.html'"></div>
</section>
<script> // todo: Procurar no Inspinia como carregar esses scripts de forma centralizada.
//    $('#tabelaProdutosDoEstudo').footable();
</script>