<section data-ng-controller="EstudosController" data-ng-init="loadData()">
    <div class="row">
        <div class="col-xs-12">
            <barra-btns></barra-btns>
        </div>
    </div> <!-- Botão Add Produto -->
    <div class="row">
        <div class="col-xs-9">
            <div class="ibox collapsed float-e-margins">
                <div class="ibox-title">
                    <h5>Configurações</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <part-config></part-config>
                </div>
            </div> <!-- Configurações -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tabela de Produtos <small class="text-danger"> {{ auxTestes }}</small></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <part-tabela-produtos></part-tabela-produtos>
                    </div>
                </div>
            </div> <!-- Tabela de Produtos do Estudo -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">BRL</span>
                            <h5>Lucro</h5>
                        </div>
                        <div class="ibox-content">
                            <part-ibox-lucro></part-ibox-lucro>
                        </div>
                    </div>
                </div> <!-- Lucro -->
                <div class="col-lg-3">
                    <div class="ibox">
                        <div class="ibox-content">
                            <part-ibox-cntr></part-ibox-cntr>
                        </div>
                    </div>
                </div> <!-- Contêiner -->
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">paypal x oficial</span>
                            <h5>Comparação</h5>
                        </div>
                        <div class="ibox-content">
                            <part-ibox-comparacao></part-ibox-comparacao>
                        </div>
                    </div>
                </div> <!-- Visitas -->
            </div> <!-- Widgets do Estudo -->
        </div> <!-- Tabela com Produtos do Estudo -->
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resultados</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <part-tabela-resultados></part-tabela-resultados>
                </div>
            </div>
            <div class="col">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!--<span class="label label-warning pull-right">Internacionais</span>-->
                        <h5>Despesas Compartilhadas <i ng-click="addDespesaInternacionalCompartilhadaModal()" style="margin-left: 100px; cursor: pointer; font-size: .9em;" class="fa fa-plus"></i></h5>
                    </div>
                    <div class="ibox-content">
                        <part-ibox-despesas></part-ibox-despesas>
                    </div>
                </div>
            </div> <!-- User Activity -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dados do Estudo</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <part-ibox-estudo></part-ibox-estudo>
                </div>
            </div>
        </div> <!-- Dados do Estudo -->
        <div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Produtos</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control search-result" placeholder="Busca" data-ng-model="query">
                            </div>
                            <div class="produto-modal-list">
                                <!--<table id="modal-example-1" class="table" data-paging="true" data-filtering="true" data-sorting="true">-->
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-click="adicionaProdutoEstudo(item)" data-ng-repeat="item in produtos | filter: query">
                                        <td class="produto-modal-people">
                                            <a href="#"><img class="img-circle" ng-src="{{ item.img_url }}" alt="Imagem {{ item.nome }}"></a>
                                        </td>
                                        <td class="produto-modal-title" data-ng-model="item.nome" data-filter-value="query">
                                            {{item.nome}}<br/>
                                            <small>{{ item.modelo }}</small> - <small>{{ item.fornecedor.nome_fornecedor }}</small>
                                            - <small>{{ item.fornecedor.cidade_fornecedor }}</small>
                                        </td>
                                        <td data-ng-bind="item.custo_usd | currency: 'U$ '"></td>
                                        <td>
                                            <a ng-click="adicionaProdutoEstudo(item)"><i class="fa fa-plus clickable" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Modal -->
        </div>
    </div>
    <div ng-include="'app/estudos/views/partials/right-sidebar-estudos.partial.view.html'"></div>
</section>
<script> // todo: Procurar no Inspinia como carregar esses scripts de forma centralizada.
//    $('#tabelaProdutosDoEstudo').footable();
</script>